/* Estilos base */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
    font-size: 28px;  /* Reducido el tamaño del título */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 15px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Campos del formulario */
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

select, input[type="text"], input[type="file"], input[type="date"], button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Botones */
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #45a049;
}

/* Estilo para el botón "Cargar Datos" más pequeño */
#loadDataButton {
    padding: 8px 15px; /* Más pequeño */
    font-size: 14px; /* Texto más pequeño */
    background-color: #f1f1f1;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    opacity: 0.7;  /* Menos visible */
    display: block;
    margin: 20px auto;
}

#loadDataButton:hover {
    opacity: 1;
}

/* Título en la página de inicio (ZEVEN CORP) */
h1 {
    font-size: 28px; /* Reducir tamaño de título */
    margin-bottom: 20px;
    font-weight: bold;
}

/* Enlaces */
a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Listas centradas */
ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

ul li {
    margin: 10px;
}

/* Responsive para pantallas pequeñas */
@media screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }

    form {
        padding: 15px;
    }

    label, select, input[type="text"], button {
        font-size: 16px;
    }

    h1 {
        font-size: 22px;
    }
}
